# app/views/team_assignments/new.html.erb
<h1>New Team Assignment</h1>

<%= form_with(model: [@project, @team_assignment], url: project_team_assignments_path(@project)) do |form| %>
  <%= form.label :user_id, 'Team member' %>
  <%= form.collection_select :user_id, User.where(role: "team_member"), :id, ->(user) { user.full_name }, prompt: "Assign team member" %>
  <%= form.submit 'Assign team member' %>
<% end %>
